</main>
<footer class="footer">
    <div class="footer-top">
        <div class="uk-container">
            <div class="uk-child-width-1-2@m uk-child-width-1-1" data-uk-grid="margin: uk-margin-small-top">
                <div>
                    <div class="accordion uk-child-width-1-2@s uk-child-width-1-1"
                         data-uk-grid="margin: uk-margin-remove">
                        <div>
                            <div class="uk-margin-medium-bottom">
                                <img width="180" height="30" src="img/logo.svg">
                            </div>
                            <h4 class="uk-hidden@s">О компании</h4>
                            <div class="accordion-content">
                                <ul>
                                    <li>
                                        <a href="/certificates/">Сертификаты</a>
                                    </li>
                                    <li>
                                        <a href="/brand/all/">Бренды</a>
                                    </li>
                                    <li>
                                        <a href="/text-news/">Новости</a>
                                    </li>
                                    <li>
                                        <a href="/about/">О компании</a>
                                    </li>
                                    <li>
                                        <a href="/partners/">Партнерам</a>
                                    </li>
                                    <li>
                                        <a href="/avtokondicionery/">Прайс-лист на ремонт</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <h4>Помощь</h4>
                            <div class="accordion-content">
                                <ul>
                                    <li>
                                        <a href="/payment/">Оплата и доставка</a>
                                    </li>
                                    <li>
                                        <a href="/faq/">Часто задаваемые вопросы</a>
                                    </li>
                                    <li>
                                        <a href="/policy/">Политика обработки персональных данных</a>
                                    </li>
                                    <li>
                                        <a href="/policy-agreement/">Соглашение на обработку персональных данных</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-child-width-1-2@s" data-uk-grid>
                        <div>
                            <div class="footer_short_info">
                                <div class="uk-margin-bottom">
                                    <h6>Адрес</h6>
                                    <div class="fwm">г. Краснодар, ул. Новороссийская, 94</div>
                                </div>
                                <div class="uk-margin-bottom">
                                    <h6>Телефон</h6>
                                    <a class="fwm contacts_phone" href="tel:+79186951241">+7 (918) 695-12-41</a></div>
                                <div class="uk-margin-bottom">
                                    <h6>Электронная почта</h6>
                                    <a class="fwm" href="mailto:info@yug-frost.ru">info@yug-frost.ru</a></div>
                                <div class="uk-margin-bottom">
                                    <h6>График работы</h6>
                                    <div class="fwm">Пн-Пт с 8:00 до 18:00<br/>Сб-Вс &mdash; выходной</div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="uk-margin-bottom">
                                <h4>Способы оплаты</h4>
                                <div class="uk-grid-medium uk-margin-small-bottom" data-uk-grid>
                                    <div>
                                        <img src="img/new-repair/icons/visa-w.svg">
                                    </div>
                                    <div>
                                        <img src="img/new-repair/icons/mastercard.svg">
                                    </div>
                                    <div>
                                        <img src="img/new-repair/icons/mir-w.svg">
                                    </div>
                                    <div>
                                        <img src="img/new-repair/icons/sdek-w.svg">
                                    </div>
                                    <div>
                                        <img src="img/new-repair/icons/sber-w.svg">
                                    </div>
                                    <div>
                                        <img src="img/new-repair/icons/tinkoff.svg">
                                    </div>
                                </div>
                                <div class="uk-text-secondary">
                                    Вы можете оплатить покупки наличными при получении, либо выбрать другой способ
                                    оплаты
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="uk-container">
            <div class="uk-margin-small-bottom">
                © 2017—2022, Транспортное холодильное оборудование в
                интернет–магазине yug-frost.ru. Все права защищены.
            </div>
            <div>Разработка и поддержка сайта — <a target="_blank" rel="nofollow"
                                                   href="//creativecult.ru"><s>Creative</s>Cult</a></div>
            <div class="uk-text-meta">Версия 2.4.0</div>
            <div class="uk-margin-top uk-text-meta" style="font-size: 12px;">
                <p class="uk-margin-small">Обращаем ваше внимание на то, что данный Интернет-сайт, а также вся
                    информация о товарах и ценах,
                    предоставленная на нём, носит исключительно информационный характер и ни при каких условиях не
                    является
                    публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской
                    Федерации.</p>
                <p class="uk-margin-small">Для получения подробной информации о наличии и стоимости указанных товаров и
                    (или) услуг, пожалуйста,
                    обращайтесь к менеджеру сайта с помощью специальной формы связи или по телефону.</p>
            </div>
        </div>
    </div>
</footer>

<div class="menuMenu-overlay"></div>
<div class="menuMenu">
    <ul class="main-nav">
        <li>
            <div class="menu-header uk-flex-between">
                <div class="uk-flex uk-flex-middle">
                    <div class="menuMenu-overlay-close">
                        <img width="32" src="img/new-repair/icons/close.svg" data-uk-svg>
                    </div>
                    <div>
                        <h5>Меню</h5>
                    </div>
                </div>
                <div>
                    <a data-href="/deliverycost/chooseautocomplete/" class="inDialog head-city offcanvas-city">
                        <img width="16" height="16" src="img/new-repair/icons/pin-blue.svg" alt="#">
                        <span>Краснодар</span>
                    </a>
                </div>
            </div>
        </li>
        <!--    Если пользователь не авторизован    -->
        <!--        <li>-->
        <!--            <div class="uk-child-width-1-2 uk-grid" data-uk-grid="">-->
        <!--                <div class="uk-first-column">-->
        <!--                    <a class="uk-button uk-button-primary rs-in-dialog" href="/auth/">Войти</a>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <a class="uk-button uk-button-primary rs-in-dialog" href="/register/">Регистрация</a>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </li>-->

        <!--    Если пользователь авторизован    -->
        <li class="clear">
            <a class="menu-lk-button" href="#">
                <span class="menu-lk-icon">
                    <img width="14" height="14" src="img/new-repair/icons/user-profile.svg" alt="#">
                </span>
                <span>Личный кабинет</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img width="48" height="48" class="uk-border-circle" src="img/new-repair/categories/pic.png">
                <span>Ремонт автокондиционеров</span>
            </a>
            <ul class="main-nav_level-1 subnav">
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Холодильно-обогревательное оборудование</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Стояночная работа (STANDBY)</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>MULTITEMP</span>
                    </a>
                </li>
                <li>
                    <a class="repair-mob" href="#">
                        <img src="img/new-repair/repair/repair-mob.svg">
                        <span>Ремонт авторефрижераторов</span>
                    </a>
                </li>
                <li></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <img width="48" height="48" class="uk-border-circle" src="img/new-repair/categories/pic-2.png">
                <span>Ремонт отопителей</span>
            </a>
            <ul class="main-nav_level-1 subnav">
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Холодильно-обогревательное оборудование</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Стояночная работа (STANDBY)</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>MULTITEMP</span>
                    </a>
                </li>
                <li>
                    <a class="repair-mob" href="#">
                        <img src="img/new-repair/repair/repair-mob.svg">
                        <span>Ремонт авторефрижераторов</span>
                    </a>
                </li>
                <li></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <img width="48" height="48" class="uk-border-circle" src="img/new-repair/categories/pic-3.png">
                <span>Расчет стоимости</span>
            </a>
            <ul class="main-nav_level-1 subnav">
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Холодильно-обогревательное оборудование</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Стояночная работа (STANDBY)</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>MULTITEMP</span>
                    </a>
                </li>
                <li>
                    <a class="repair-mob" href="#">
                        <img src="img/new-repair/repair/repair-mob.svg">
                        <span>Ремонт авторефрижераторов</span>
                    </a>
                </li>
                <li></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <img width="48" height="48" class="uk-border-circle" src="img/new-repair/categories/pic-4.png">
                <span>Прайс-лист</span>
            </a>
            <ul class="main-nav_level-1 subnav">
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Холодильно-обогревательное оборудование</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Стояночная работа (STANDBY)</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>MULTITEMP</span>
                    </a>
                </li>
                <li>
                    <a class="repair-mob" href="#">
                        <img src="img/new-repair/repair/repair-mob.svg">
                        <span>Ремонт авторефрижераторов</span>
                    </a>
                </li>
                <li></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <img width="48" height="48" class="uk-border-circle" src="img/new-repair/categories/pic-5.png">
                <span>Нормы заправки</span>
            </a>
            <ul class="main-nav_level-1 subnav">
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Холодильно-обогревательное оборудование</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Стояночная работа (STANDBY)</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>MULTITEMP</span>
                    </a>
                </li>
                <li>
                    <a class="repair-mob" href="#">
                        <img src="img/new-repair/repair/repair-mob.svg">
                        <span>Ремонт авторефрижераторов</span>
                    </a>
                </li>
                <li></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <img width="48" height="48" class="uk-border-circle" src="img/new-repair/categories/pic-6.png">
                <span>База знаний</span>
            </a>
            <ul class="main-nav_level-1 subnav">
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Холодильно-обогревательное оборудование</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>Стояночная работа (STANDBY)</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="48" height="48" class="uk-border-circle"
                             src="img/new-repair/temp/category-item.png">
                        <span>MULTITEMP</span>
                    </a>
                </li>
                <li>
                    <a class="repair-mob" href="#">
                        <img src="img/new-repair/repair/repair-mob.svg">
                        <span>Ремонт авторефрижераторов</span>
                    </a>
                </li>
                <li></li>
            </ul>
        </li>
        <li>
            <a href="#" class="uk-button head-btn-store uk-width-1-1">Интернет магазин</a>
            <!--            <a href="#" class="uk-button head-btn-store btn-service uk-width-1-1">Ремонт и сервис</a>-->
        </li>
    </ul>
</div>

<div id="modal-callback" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-dark">
        <div class="modal-close">
            <a href="#" class="uk-flex uk-flex-top uk-modal-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#808080" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6464 5.96498C19.8417 5.76972 19.8417 5.45314 19.6464 5.25788L18.7421 4.35355C18.5469 4.15829 18.2303 4.15829 18.035 4.35355L12 10.3886L5.96498 4.35355C5.76972 4.15829 5.45314 4.15829 5.25788 4.35355L4.35355 5.25788C4.15829 5.45314 4.15829 5.76972 4.35355 5.96498L10.3886 12L4.35355 18.035C4.15829 18.2303 4.15829 18.5469 4.35355 18.7421L5.25788 19.6464C5.45314 19.8417 5.76972 19.8417 5.96498 19.6464L12 13.6114L18.035 19.6464C18.2303 19.8417 18.5469 19.8417 18.7421 19.6464L19.6464 18.7421C19.8417 18.5469 19.8417 18.2303 19.6464 18.035L13.6114 12L19.6464 5.96498Z"
                    />
                </svg>
            </a>
        </div>
        <div class="modal-body">
            <div class="modal-title">Записаться на ремонт</div>
            <div class="modal-desc">Наш специалист перезвонит вам для согласования даты и стоимости ремонта</div>
            <form class="modal-form" action="#">
                <div data-uk-margin="margin: uk-margin-top">
                    <div class="uk-width-expand@s">
                        <div class="dark-input type-name">
                            <input class="uk-width-1-1 uk-input" type="text" placeholder="Имя" name="firstname"
                                   required>
                        </div>
                    </div>
                    <div class="uk-width-expand@s">
                        <div class="dark-input type-phone">
                            <input class="uk-width-1-1 uk-input" type="tel" placeholder="Номер телефона" name="phone"
                                   required data-input-check="phone">
                        </div>
                    </div>
                    <div class="uk-width-auto@m margin-medium-m">
                        <button class="uk-button uk-button-primary uk-width-1-1 callback-form-button uk-margin-medium-top"
                                type="submit">
                            Отправить заявку
                        </button>
                    </div>
                    <div>
                        <div class="uk-margin-top text-small">Нажимая на кнопку «Отправить заявку», вы даете согласие
                            на обработку персональный данных
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-callback-success" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-dark">
        <div class="modal-close">
            <a href="#" class="uk-flex uk-flex-top uk-modal-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#808080" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6464 5.96498C19.8417 5.76972 19.8417 5.45314 19.6464 5.25788L18.7421 4.35355C18.5469 4.15829 18.2303 4.15829 18.035 4.35355L12 10.3886L5.96498 4.35355C5.76972 4.15829 5.45314 4.15829 5.25788 4.35355L4.35355 5.25788C4.15829 5.45314 4.15829 5.76972 4.35355 5.96498L10.3886 12L4.35355 18.035C4.15829 18.2303 4.15829 18.5469 4.35355 18.7421L5.25788 19.6464C5.45314 19.8417 5.76972 19.8417 5.96498 19.6464L12 13.6114L18.035 19.6464C18.2303 19.8417 18.5469 19.8417 18.7421 19.6464L19.6464 18.7421C19.8417 18.5469 19.8417 18.2303 19.6464 18.035L13.6114 12L19.6464 5.96498Z"
                    />
                </svg>
            </a>
        </div>
        <div class="modal-body uk-flex uk-flex-center uk-text-center uk-flex-column">
            <div class="modal-title">Спасибо за&nbsp;заявку!</div>
            <div class="modal-desc">Приняли вашу заявку. В ближайшее время мы свяжемся с вами по указанным контактам.
            </div>
            <button class="uk-button uk-button-primary uk-width-1-1 mt-64-40 uk-modal-close" type="button">
                Закрыть
            </button>
        </div>
    </div>
</div>

<div id="modal-login" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-dark">
        <div class="modal-close">
            <a href="#" class="uk-flex uk-flex-top uk-modal-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#808080" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6464 5.96498C19.8417 5.76972 19.8417 5.45314 19.6464 5.25788L18.7421 4.35355C18.5469 4.15829 18.2303 4.15829 18.035 4.35355L12 10.3886L5.96498 4.35355C5.76972 4.15829 5.45314 4.15829 5.25788 4.35355L4.35355 5.25788C4.15829 5.45314 4.15829 5.76972 4.35355 5.96498L10.3886 12L4.35355 18.035C4.15829 18.2303 4.15829 18.5469 4.35355 18.7421L5.25788 19.6464C5.45314 19.8417 5.76972 19.8417 5.96498 19.6464L12 13.6114L18.035 19.6464C18.2303 19.8417 18.5469 19.8417 18.7421 19.6464L19.6464 18.7421C19.8417 18.5469 19.8417 18.2303 19.6464 18.035L13.6114 12L19.6464 5.96498Z"
                    />
                </svg>
            </a>
        </div>
        <div class="modal-body">
            <div class="modal-title">Войти</div>
            <form class="modal-form" action="#">
                <div data-uk-margin="margin: uk-margin-top">
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="email" placeholder="Электронная почта"
                                   name="email">
                        </div>
                    </div>
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="password" placeholder="Пароль" name="password">
                        </div>
                    </div>
                    <div class="margin-medium-m">
                        <button class="uk-button uk-button-primary uk-width-1-1 callback-form-button uk-margin-medium-top"
                                type="submit">
                            Войти в личный кабинет
                        </button>
                    </div>
                    <div class="uk-flex uk-flex-between uk-flex-middle">
                        <div><a class="modal-link" href="#" data-uk-toggle="target: #modal-restore">Забыли пароль?</a>
                        </div>
                        <div><a class="modal-link" href="#" data-uk-toggle="target: #modal-register">У меня нет
                            аккаунта</a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-register" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-dark">
        <div class="modal-close">
            <a href="#" class="uk-flex uk-flex-top uk-modal-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#808080" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6464 5.96498C19.8417 5.76972 19.8417 5.45314 19.6464 5.25788L18.7421 4.35355C18.5469 4.15829 18.2303 4.15829 18.035 4.35355L12 10.3886L5.96498 4.35355C5.76972 4.15829 5.45314 4.15829 5.25788 4.35355L4.35355 5.25788C4.15829 5.45314 4.15829 5.76972 4.35355 5.96498L10.3886 12L4.35355 18.035C4.15829 18.2303 4.15829 18.5469 4.35355 18.7421L5.25788 19.6464C5.45314 19.8417 5.76972 19.8417 5.96498 19.6464L12 13.6114L18.035 19.6464C18.2303 19.8417 18.5469 19.8417 18.7421 19.6464L19.6464 18.7421C19.8417 18.5469 19.8417 18.2303 19.6464 18.035L13.6114 12L19.6464 5.96498Z"
                    />
                </svg>
            </a>
        </div>
        <div class="modal-body">
            <div class="modal-title">Регистрация</div>
            <form class="modal-form" action="#">
                <div class="uk-margin-bottom fz12" data-uk-grid="margin: uk-margin-small-top">
                    <div>
                        <div class="radio">
                            <input type="radio" name="is_company" value="0" id="is_company_no" checked>
                            <label for="is_company_no"><span class="radio-attr"></span>Частное лицо</label>
                        </div>
                    </div>
                    <div>
                        <div class="radio">
                            <input type="radio" name="is_company" value="1" id="is_company_yes">
                            <label for="is_company_yes"><span class="radio-attr"></span>Юридическое лицо</label>
                        </div>
                    </div>
                </div>
                <div data-uk-margin="margin: uk-margin-top">
                    <div class="form-fields_company hidden">
                        <div class="dark-input uk-margin-bottom">
                            <input name="company" type="text" class="uk-width-1-1 uk-input"
                                   placeholder="Наименование компании">
                        </div>
                        <div class="dark-input uk-margin-bottom">
                            <input name="company_inn" type="text" class="uk-width-1-1 uk-input" placeholder="ИНН">
                        </div>
                    </div>
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="text" placeholder="ФИО" name="fullname">
                        </div>
                    </div>
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="tel" placeholder="Номер телефона" name="phone"
                                   data-input-check="phone">
                        </div>
                    </div>
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="email" placeholder="Электронная почта*"
                                   name="email" required>
                        </div>
                    </div>
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="password" placeholder="Пароль*"
                                   name="password" required>
                        </div>
                    </div>
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="password" placeholder="Подтвердить пароль*"
                                   name="password_repeat" required>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <input type="checkbox" name="get_password" value="0" id="get_password">
                            <label for="get_password">
                                <span class="checkbox-attr"></span>
                                Получить сгенерированный пароль <br> на электронную почту
                            </label>
                        </div>
                    </div>
                    <div class="margin-medium-m">
                        <button class="uk-button uk-button-primary uk-width-1-1 callback-form-button uk-margin-medium-top"
                                type="submit">
                            Зарегистрироваться
                        </button>
                    </div>
                    <div>
                        <a class="modal-link" href="#" data-uk-toggle="target: #modal-login">У меня уже есть аккаунт</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-restore" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-dark">
        <div class="modal-close">
            <a href="#" class="uk-flex uk-flex-top uk-modal-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#808080" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6464 5.96498C19.8417 5.76972 19.8417 5.45314 19.6464 5.25788L18.7421 4.35355C18.5469 4.15829 18.2303 4.15829 18.035 4.35355L12 10.3886L5.96498 4.35355C5.76972 4.15829 5.45314 4.15829 5.25788 4.35355L4.35355 5.25788C4.15829 5.45314 4.15829 5.76972 4.35355 5.96498L10.3886 12L4.35355 18.035C4.15829 18.2303 4.15829 18.5469 4.35355 18.7421L5.25788 19.6464C5.45314 19.8417 5.76972 19.8417 5.96498 19.6464L12 13.6114L18.035 19.6464C18.2303 19.8417 18.5469 19.8417 18.7421 19.6464L19.6464 18.7421C19.8417 18.5469 19.8417 18.2303 19.6464 18.035L13.6114 12L19.6464 5.96498Z"
                    />
                </svg>
            </a>
        </div>
        <div class="modal-body">
            <div class="modal-title">Восстановление пароля</div>
            <div class="modal-desc">На указанный E-mail будет отправлено письмо с дальнейшими инструкциями по
                восстановлению пароля
            </div>
            <form class="modal-form" action="#">
                <div data-uk-margin="margin: uk-margin-top">
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="email" placeholder="Электронная почта"
                                   name="email">
                        </div>
                    </div>
                    <div>
                        <button class="uk-button uk-button-primary uk-width-1-1 callback-form-button"
                                type="submit">
                            Восстановить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-restore-success" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-dark">
        <div class="modal-close">
            <a href="#" class="uk-flex uk-flex-top uk-modal-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#808080" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6464 5.96498C19.8417 5.76972 19.8417 5.45314 19.6464 5.25788L18.7421 4.35355C18.5469 4.15829 18.2303 4.15829 18.035 4.35355L12 10.3886L5.96498 4.35355C5.76972 4.15829 5.45314 4.15829 5.25788 4.35355L4.35355 5.25788C4.15829 5.45314 4.15829 5.76972 4.35355 5.96498L10.3886 12L4.35355 18.035C4.15829 18.2303 4.15829 18.5469 4.35355 18.7421L5.25788 19.6464C5.45314 19.8417 5.76972 19.8417 5.96498 19.6464L12 13.6114L18.035 19.6464C18.2303 19.8417 18.5469 19.8417 18.7421 19.6464L19.6464 18.7421C19.8417 18.5469 19.8417 18.2303 19.6464 18.035L13.6114 12L19.6464 5.96498Z"
                    />
                </svg>
            </a>
        </div>
        <div class="modal-body uk-flex uk-flex-center uk-text-center uk-flex-column">
            <div class="modal-title">Восстановление пароля</div>
            <div class="modal-desc">Пароль успешно восстановлен. Можете использовать новые данные для входа
                в свой профиль
            </div>
            <button class="uk-button uk-button-primary uk-width-1-1 mt-64-40 uk-modal-close" type="button">
                Закрыть
            </button>
        </div>
    </div>
</div>

<div id="modal-oneclick" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-dark">
        <div class="modal-close">
            <a href="#" class="uk-flex uk-flex-top uk-modal-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#808080" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6464 5.96498C19.8417 5.76972 19.8417 5.45314 19.6464 5.25788L18.7421 4.35355C18.5469 4.15829 18.2303 4.15829 18.035 4.35355L12 10.3886L5.96498 4.35355C5.76972 4.15829 5.45314 4.15829 5.25788 4.35355L4.35355 5.25788C4.15829 5.45314 4.15829 5.76972 4.35355 5.96498L10.3886 12L4.35355 18.035C4.15829 18.2303 4.15829 18.5469 4.35355 18.7421L5.25788 19.6464C5.45314 19.8417 5.76972 19.8417 5.96498 19.6464L12 13.6114L18.035 19.6464C18.2303 19.8417 18.5469 19.8417 18.7421 19.6464L19.6464 18.7421C19.8417 18.5469 19.8417 18.2303 19.6464 18.035L13.6114 12L19.6464 5.96498Z"
                    />
                </svg>
            </a>
        </div>
        <div class="modal-body">
            <div class="modal-title">Заказ в один клик</div>
            <div class="modal-desc">Оставьте свои данные, и наш консультант свяжется с вами для подтверждения заказа
            </div>
            <form class="modal-form" action="#">
                <div data-uk-margin="margin: uk-margin-top">
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="text" placeholder="ФИО" name="fullname">
                        </div>
                    </div>
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="tel" placeholder="Номер телефона" name="phone"
                                   data-input-check="phone">
                        </div>
                    </div>
                    <div>
                        <div class="dark-input">
                            <input class="uk-width-1-1 uk-input" type="email" placeholder="Электронная почта*"
                                   name="email"
                                   required>
                        </div>
                    </div>
                    <div class="margin-medium-m">
                        <button class="uk-button uk-button-primary uk-width-1-1 callback-form-button uk-margin-medium-top"
                                type="submit">
                            Отправить заявку
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-oneclick-success" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal-dark">
        <div class="modal-close">
            <a href="#" class="uk-flex uk-flex-top uk-modal-close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#808080" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6464 5.96498C19.8417 5.76972 19.8417 5.45314 19.6464 5.25788L18.7421 4.35355C18.5469 4.15829 18.2303 4.15829 18.035 4.35355L12 10.3886L5.96498 4.35355C5.76972 4.15829 5.45314 4.15829 5.25788 4.35355L4.35355 5.25788C4.15829 5.45314 4.15829 5.76972 4.35355 5.96498L10.3886 12L4.35355 18.035C4.15829 18.2303 4.15829 18.5469 4.35355 18.7421L5.25788 19.6464C5.45314 19.8417 5.76972 19.8417 5.96498 19.6464L12 13.6114L18.035 19.6464C18.2303 19.8417 18.5469 19.8417 18.7421 19.6464L19.6464 18.7421C19.8417 18.5469 19.8417 18.2303 19.6464 18.035L13.6114 12L19.6464 5.96498Z"
                    />
                </svg>
            </a>
        </div>
        <div class="modal-body uk-flex uk-flex-center uk-text-center uk-flex-column">
            <div class="modal-title">Заказ в один клик</div>
            <div class="modal-desc">Ваш заказ принят. В ближайшее время мы вам перезвоним.</div>
            <button class="uk-button uk-button-primary uk-width-1-1 mt-64-40 uk-modal-close" type="button">
                Закрыть
            </button>
        </div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
</body>
</html>
