<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Юг-Фрост транспортное холодильное оборудование в Краснодаре официальный сайт</title>
    <meta name="keywords" content="">
    <meta name="description"
          content="Компания Юг-Фрост (холодильное оборудование) основана в 1996 году, а с 2001 года налажено серийное производство холодильного оборудования для большинства эксплуатируемых автомобилей в нашей стране">
    <meta property="og:site_name" content="yf.storagecult.ru">
    <meta property="og:title" content="Юг-Фрост транспортное холодильное оборудование в Краснодаре официальный сайт">
    <meta property="og:type" content="website">
    <meta property="og:description"
          content="Компания Юг-Фрост (холодильное оборудование) основана в 1996 году, а с 2001 года налажено серийное производство холодильного оборудования для большинства эксплуатируемых автомобилей в нашей стране">
    <meta property="og:image" content="//yf.storagecult.ru/img/og-image.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:url" content="//yf.storagecult.ru/">
    <meta property="twitter:card" content="summary_large_image">
    <meta name="theme-color" content="#0B0B1A">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" href="css/current.css" rel="stylesheet">
    <link type="text/css" href="css/main-v2.css" rel="stylesheet">
    <link rel="preload" href="fonts/Montserrat/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/Montserrat/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/Montserrat/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="img/favicon.png">
    <script src="js/uikit.js"></script>
</head>
<!-- Для body в ремонте нужен класс body-repair -->
<body class="body-repair">
<!-- Для header в ремонте нужен класс head-repair -->
<header class="head head-repair">
    <div class="head-wrapper" data-uk-sticky="top: 300; animation: uk-animation-slide-top-small;">
        <div class="uk-container">
            <div class="uk-flex-middle head-grid" data-uk-grid="margin: uk-margin-medium-top">
                <div class="uk-visible@m uk-width-1-6 head-city">
                    <a data-href="/deliverycost/chooseautocomplete/" class="inDialog head-city">
                        <img width="13" height="16" src="img/new-repair/icons/pin-blue.svg">
                        <span class="uk-margin-small-left">Краснодар</span>
                    </a>
                </div>
                <div class="uk-width-5-6@m uk-visible@m head-nav uk-flex uk-flex-between uk-flex-middle">
                    <nav>
                        <ul class="head-links-items">
                            <li>
                                <a href="/about/">О компании</a>
                            </li>
                            <li>
                                <a href="/payment/">Оплата и доставка</a>
                            </li>
                            <li>
                                <a href="/partners/">Партнерам</a>
                            </li>
                            <li>
                                <a href="/contacts/krasnodar/">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="uk-flex uk-flex-middle">
                        <div class="head-phone uk-visible@l">
                            <div class="uk-flex uk-flex-middle">
                                <a href="tel:+79186951241">+7 (918) 695-12-41</a>
                            </div>
                        </div>
                        <a href="#"
                           class="head-button head-button-sm head-button-phone uk-hidden@l uk-margin-small-right">
                            <img width="16" height="16" src="img/new-repair/icons/phone.svg" data-uk-svg>
                        </a>
                        <ul>
                            <li class="uk-hidden@m">
                                <a href="#"
                                   data-uk-toggle="cls: invisible; target: .hamburger-btn, .head-logo, .head-profile, .head-cart, .head-search, .search, .close, .head-call-phone">
                                    <img class="search" width="32" src="img/new-repair/icons/search.svg">
                                </a>
                            </li>
                            <li class="head-profile uk-visible@m">
                                <a class="head-button head-button-login" href="#">
                                    <img width="12" height="14" src="img/new-repair/icons/user-profile.svg" data-uk-svg alt="#">
                                    <!--        Если авторизован текст в кнопке - Профиль     -->
                                    <span class="uk-margin-small-left uk-visible@l">Войти</span>
                                </a>
                                <div class="uk-navbar-dropdown dropdown-account uk-dropdown"
                                     data-uk-dropdown="mode: click; pos: bottom-right;">
                                    <div class="uk-margin-bottom">
                                        <a class="rs-in-dialog" href="/auth/">Войти</a>
                                    </div>
                                    <div>
                                        <a class="rs-in-dialog" href="/register/">Регистрация</a>
                                    </div>
                                </div>
                            </li>
                            <li class="head-cart uk-margin-small-left">
                                <a href="#" class="icon-cart head-button head-button-sm">
                                    <img width="17" height="17" src="img/new-repair/icons/cart.svg" data-uk-svg>
                                    <span class="counter">1</span>
                                </a>
                            </li>

                            <li class="uk-hidden@m">
                                <a class="head-call-phone" href="tel:+79186951241">
                                    <img src="img/new-repair/icons/phone.svg" data-uk-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="head-controls uk-width-1-6 uk-flex uk-flex-right uk-hidden@m">
                    <ul>
                        <li class="uk-hidden@m">
                            <a href="#" class="head-button head-button-sm"
                               data-uk-toggle="cls: invisible; target: .hamburger-btn, .head-logo, .head-controls, .head-search, .search, .close, .head-call-phone">
                                <img class="search" width="16" height="16" src="img/new-repair/icons/search.svg">
                            </a>
                        </li>

                        <li class="head-cart">
                            <a href="#" class="icon-cart head-button head-button-sm">
                                <img width="18" height="18" src="img/new-repair/icons/cart.svg" data-uk-svg>
                                <span class="counter">1</span>
                            </a>
                        </li>

                        <li class="uk-hidden@m">
                            <a href="#" class="head-button head-button-sm head-button-phone">
                                <img width="16" height="16" src="img/new-repair/icons/phone.svg" data-uk-svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="uk-hidden@m hamburger-btn">
                    <a class="hamburger">
                        <img width="24" height="17" src="img/new-repair/icons/menu.svg" data-uk-svg>
                    </a>
                </div>
                <div class="head-logo">
                    <a href="/">
                        <img width="170" height="32" src="img/logo.svg">
                    </a>
                </div>
                <div class="uk-hidden@m">
                    <a class="close invisible" href="#"
                       data-uk-toggle="cls: invisible; target: .hamburger-btn, .head-logo, .head-controls, .head-search, .search, .close, .head-call-phone">
                        <img class="w-24" width="24" height="24" src="img/new-repair/icons/close-w.svg">
                    </a>
                </div>
                <div class="uk-width-auto uk-visible@m">
                    <a class="uk-button head-btn-catalog" href="#">
                        <img width="16" height="16" src="img/new-repair/icons/catalog.svg" alt="">
                        <span>Каталог</span>
                    </a>
                </div>
                <div class="uk-width-expand@m uk-flex invisible head-search">
                    <form class="uk-search uk-search-default uk-width-1-1 head-search-inner">
                        <input id="search-popup" class="uk-input uk-width-1-1" type="text"
                               placeholder="Поиск по сайту">
                        <button class="uk-button uk-button-primary uk-position-absolute uk-position-right"
                                type="submit">
                            <img width="17" height="17" src="img/new-repair/icons/search.svg">
                        </button>
                    </form>
                </div>


                <div class="uk-visible@m">
                    <div class="btn-store">
                        <a href="/catalog/all/" class="uk-button head-btn-store  uk-width-1-1">Интернет магазин</a>
                    </div>
                    <div class="btn-service">
                        <a href="/repair/" class="uk-button head-btn-store btn-service uk-width-1-1">Ремонт и сервис</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="head-bottom uk-visible@m">
        <div class="uk-container">
            <ul class="uk-flex uk-flex-middle uk-flex-between">
                <li><a href="direction.html">Ремонт автокондиционеров</a></li>
                <li><a href="#">Ремонт авторефрежираторов</a></li>
                <li><a href="#">Ремонт отопителей</a></li>
                <li><a href="calc.html">Расчет стоимости</a></li>
                <li><a href="price-list.html">Прайс-лист</a></li>
                <li><a href="#">Нормы заправки</a></li>
                <li><a href="#">База знаний</a></li>
            </ul>
        </div>
    </div>
</header>
<main>