<div class="uk-section section-callback">
    <div class="uk-container">
        <div class="uk-width-3-4@m">
            <div class="heading heading-1">Запишитесь на ремонт <span class="display-block-m">или обслуживание оборудования</span>
            </div>
        </div>
        <div class="callback-form">
            <div class="uk-hidden@m">
                <div class="callback-form-desc">Наш специалист перезвонит вам для согласования даты и стоимости
                    ремонта
                </div>
            </div>
            <form action="#">
                <div data-uk-grid="margin: uk-margin-small-top">
                    <div class="uk-width-expand@s">
                        <div class="dark-input type-name">
                            <input class="uk-width-1-1 uk-input" type="text" placeholder="Имя" name="firstname"
                                   data-input-check="text" required>
                        </div>
                    </div>
                    <div class="uk-width-expand@s">
                        <div class="dark-input type-phone">
                            <input class="uk-width-1-1 uk-input" type="tel" placeholder="Номер телефона" name="phone"
                                   data-input-check="phone" required>
                        </div>
                    </div>
                    <div class="uk-width-auto@m margin-medium-m">
                        <button class="uk-button uk-button-primary uk-width-1-1 callback-form-button" type="submit">
                            Отправить заявку
                        </button>
                    </div>
                </div>
            </form>
            <div class="uk-margin-top" data-uk-grid="">
                <div class="uk-width-1-3@m uk-visible@m">
                    <div class="callback-form-desc">Наш специалист перезвонит вам для согласования даты и стоимости
                        ремонта
                    </div>
                </div>
                <div class="uk-width-2-3@m uk-flex uk-flex-right@m">
                    <div class="callback-form-info">Нажимая на кнопку «Отправить заявку», вы даете согласие на обработку
                        персональный данных
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>