<div class="uk-section dark-section section-reasons" id="reasons-section">
    <div class="uk-container">
        <div class="uk-position-relative uk-position-z-index">
            <div class="reasons-items" id="reasons-items-target" data-uk-margin="margin: mt-40">
                <div>
                    <div class="heading heading-4">Поводы для ремонта</div>
                    <div>Вашему автокондиционеру могут потребоваться различные ремонтные услуги. Существуют основные
                        причины
                        для
                        ремонта автокондиционера и авторефрижератора: замена радиатора кондиционера, выход из строя
                        фильтра
                        осушителя, залегание (залипание) терморегулирующего вентиля, заклинивание (клин) компрессора,
                        нарушения
                        герметичности системы (утечка фреона), замена муфты(шкива) компрессора и многое другое.
                    </div>
                </div>
                <div>
                    <div class="heading heading-4">Как ремонтируем</div>
                    <div>Вашему автокондиционеру могут потребоваться различные ремонтные услуги. Существуют основные
                        причины
                        для
                        ремонта автокондиционера и авторефрижератора: замена радиатора кондиционера, выход из строя
                        фильтра
                        осушителя, залегание (залипание) терморегулирующего вентиля, заклинивание (клин) компрессора,
                        нарушения
                        герметичности системы (утечка фреона), замена муфты(шкива) компрессора и многое другое.
                    </div>
                </div>
                <div>
                    <div class="heading heading-4">Почему выбирают «Юг-Фрост»</div>
                    <div>Вашему автокондиционеру могут потребоваться различные ремонтные услуги. Существуют основные
                        причины
                        для
                        ремонта автокондиционера и авторефрижератора: замена радиатора кондиционера, выход из строя
                        фильтра
                        осушителя, залегание (залипание) терморегулирующего вентиля, заклинивание (клин) компрессора,
                        нарушения
                        герметичности системы (утечка фреона), замена муфты(шкива) компрессора и многое другое.
                    </div>
                </div>
            </div>
            <a class="uk-button button-default uk-hidden@m mt-40 uk-width-1-1 reasons-items-toggle"
               data-uk-scroll data-uk-toggle="target: #reasons-items-target, .reasons-items-toggle; cls: toggled"
               href="#reasons-section">
                Читать дальше
            </a>
        </div>
    </div>
</div>