<a class="service-card" href="#">
    <div>
        <div class="service-card-type">Ремонт</div>
        <div class="service-card-title">
            @@title
        </div>
    </div>
    <div class="uk-flex-middle uk-child-width-auto@l uk-child-width-1-1" data-uk-grid>
        <div>
            <button class="uk-button uk-button-primary uk-width-auto@l uk-width-1-1" type="button"
                    data-uk-toggle="target: #modal-callback">
                Записаться
            </button>
        </div>
        <div class="uk-flex uk-flex-center">
            <span class="service-card-link">Подробнее</span>
        </div>
    </div>
    <img class="service-card-img" width="384" height="504" src="/img/new-repair/temp/service-card.jpg" alt="#" loading="lazy">
</a>